{% extends 'base.html' %}

{% block content %}
<section class="container">
    <h1>Speakers</h1>

    <p>We received more than 100 talk proposals this year but unfortunately there are only so many hours in a day so our programming commitee had to narrow it down to 20 or so.</p>

    <p>We will be publishing the more speakers here over the upcoming weeks.</p>
</section>
{% if object_list or user.is_staff %}
<section id="speakers" class="container">
    {% for speaker in object_list %}
        <div class="row {% cycle 'even' 'odd' %} speaker{% if not speaker.published %} preview{% endif %}" id="speaker-{{ speaker.pk }}">
            <div class="picture">
                {{ speaker.get_picture_html }}
                {% if user.is_staff %}
                    <a class="toolbox" href="{% url 'admin:speakers_speaker_change' speaker.pk %}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                {% endif %}
                {% if speaker.twitter %}
                    <a class="toolbox" href="{{ speaker.twitter_link }}" title="@{{ speaker.twitter }}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </a>
                {% endif %}
            </div>
            <div>
                <h2 class="name">{{ speaker.name }}</h2>
                <p class="title">{{ speaker.talk_title }}</p>
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}
{% endblock %}
