{% extends 'base.html' %}

{% load randomify %}
{% load toolbox %}

{% block content %}
<section class="container">
    <h1>Speakers</h1>
</section>
{% if object_list or user.is_staff %}
<section id="speakers" class="container">
    {% for speaker in object_list|randomify_by_date %}
        <div class="row {% cycle 'even' 'odd' %} speaker{% if not speaker.published %} preview{% endif %}" id="speaker-{{ speaker.pk }}">
            <div class="picture">
                <a href="{{ speaker.url }}">
                    {{ speaker.get_picture_html }}
                </a>
                {% toolbox speaker user=user %}
            </div>
            <div>
                <a href="{{ speaker.get_absolute_url }}"><h2 class="name">{{ speaker.name }}</h2></a>
                <p class="title">{{ speaker.talk_title }}</p>
                <p><a href="{{ speaker.get_absolute_url }}">See details</a></p>
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}
{% endblock %}
