{% extends 'base.html' %}

{% load randomify %}
{% load toolbox %}

{% block content %}
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <section id="day1" class="schedule">
        <h2>Wednesday</h2>
        <p>Venue: <a href="">Budapest Music Center</a></p>
        <table class="day">
          <thead>
            <tr>
              <th>Time</th>
              <th>Sessions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="not-talk">
              <td>7:45 - 8:50</td>
              <td>Registration & light breakfast</td>
            </tr>
            <tr>
              <td>7:45 - 8:50</td>
              <td>Szia & welcome!</td>
            </tr>
            <tr>
              <td>7:45 - 8:50</td>
              <td>
                <p><a href="" class="talk">Keynote: How level-diversity will make your Open Source project great (again)</a></p>
                <p>Floor Dress</p>
              </td>
            </tr>
            <tr>
              <td>7:45 - 8:50</td>
              <td>
                <p><a href="" class="talk">Keynote: How level-diversity will make your Open Source project great (again)</a></p>
                <p>Floor Dress</p>
              </td>
            </tr>
            <tr>
              <td>7:45 - 8:50</td>
              <td>
                <p><a href="" class="talk">Keynote: How level-diversity will make your Open Source project great (again)</a></p>
                <p>Floor Dress</p>
              </td>
            </tr>
            <tr class="not-talk">
              <td>7:45 - 8:50</td>
              <td>Registration & light breakfast</td>
            </tr>
          </tbody>
        </table>
    </section>

    <section id="day1" class="schedule">
        <h2>Wednesday</h2>
        <p>Venue: <a href="">Budapest Music Center</a></p>
        <table class="day">
          <thead>
            <tr>
              <th>Time</th>
              <th>Sessions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="not-talk">
              <td>7:45 - 8:50</td>
              <td>Registration & light breakfast</td>
            </tr>
            <tr>
              <td>7:45 - 8:50</td>
              <td>Szia & welcome!</td>
            </tr>
            <tr>
              <td>7:45 - 8:50</td>
              <td>
                <p><a href="" class="talk">Keynote: How level-diversity will make your Open Source project great (again)</a></p>
                <p>Floor Dress</p>
              </td>
            </tr>
            <tr>
              <td>7:45 - 8:50</td>
              <td>
                <p><a href="" class="talk">Keynote: How level-diversity will make your Open Source project great (again)</a></p>
                <p>Floor Dress</p>
              </td>
            </tr>
            <tr>
              <td>7:45 - 8:50</td>
              <td>
                <p><a href="" class="talk">Keynote: How level-diversity will make your Open Source project great (again)</a></p>
                <p>Floor Dress</p>
              </td>
            </tr>
            <tr class="not-talk">
              <td>7:45 - 8:50</td>
              <td>Registration & light breakfast</td>
            </tr>
          </tbody>
        </table>
    </section>
  </div>
</div>
{% endblock %}
