{% extends 'base.html' %}

{% block content %}
{% regroup object_list by weekday as schedule %}

<section class="container">
    <h1>Schedule</h1>
    <p>
        <strong>Note :</strong> we're still working out the final details so the
        exact times might move around a bit.
    </p>
    <p>
        Make sure you follow us on twitter to
        get the latest updates: <a href="https://twitter.com/djangoconeurope/">@DjangoConEurope</a>.
    </p>
</section>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    {% for day in schedule %}
        <section id="day{{ forloop.counter }}" class="schedule">
            <h2>{{ day.grouper }}</h2>
            <p>Venue: <a href="{% url 'venue' %}">Budapest Music Center</a></p>
            <table class="day">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Sessions</th>
                </tr>
              </thead>
              <tbody>
                {% for talk in day.list %}
                  <tr class="{{ talk.css_class }}">
                    <td>{{ talk.time_slot_html }}</td>
                    <td>
                      <p>{{ talk.description }}</p>
                      {% if talk.speaker %}
                        <p>{{ talk.speaker.name }}</p>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </section>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row pull-right">
    <a class="btn btn-default btn-sm" href="{% url 'speakers:schedule_ical' %}">
      <span class="glyphicon glyphicon-calendar"></span>
      iCal
    </a>
  </div>
</div>
{% endblock %}
