{% extends 'base.html' %}

{% block content %}
{% regroup object_list by weekday as schedule %}

<div class="container">
  <h1>{% block page_title %}Schedule{% endblock %}</h1>
  <div class="col-md-10 col-md-offset-1">
    {% for day in schedule %}
        <section id="day{{ forloop.counter }}" class="schedule">
            <h2>{{ day.grouper }}</h2>
            <p>Venue: {% block venue %}<a href="{% url 'venue' %}">Budapest Music Center</a>{% endblock %}</p>
            <table class="day">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Sessions</th>
                </tr>
              </thead>
              <tbody>
                {% for talk in day.list %}
                  <tr class="{{ talk.css_class }}">
                    <td>{{ talk.time_slot_html }}</td>
                    <td>
                      <p>{{ talk.title_html }}</p>
                      {% if talk.author %}
                        <p>{{ talk.author }}</p>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </section>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row pull-right">
    <a class="btn btn-default btn-sm" href="{% block ical_export_url %}{% url 'speakers:schedule_ical' %}{% endblock %}">
      <span class="glyphicon glyphicon-calendar"></span>
      iCal
    </a>
  </div>
</div>
{% endblock %}
