{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
<div class="container">
    <h1>Apply to DjangoCon's Scholarship Program</h1>
    <p>All the information you provide here is confidential and will only be shared within the organizing team.</p>

    <p>Fields marked with "*" are required.</p>
</div>
<form action="{% url 'scholarships:apply' %}" method="post" class="container">
    {{ form|bootstrap }}
    <p class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </p>
    {% csrf_token %}
</form>
{% endblock %}
