{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
<section id="closed" class="container">
    <h1>Closed 🚫</h1>
    <p><strong>The scholarship application closed on January 26</strong> so you it's not possible to apply anymore.</p>
    <p>If you'd like to get in touch, please email us: <a href="mailto:2016@djangocon.eu">2016@djangocon.eu</a>.</p>
    <p>We've left this page up for informational purposes only.</p>
</section>

<section class="container">
    <h1>Scholarship Program</h1>

    <p>
        DjangoCon Europe is striving to provide a great experience for the most diverse group of people possible. We do believe in equality, and we invite everyone to participate. In order to make this possible, we are proud to announce our scholarship program for people who would otherwise be unable to participate.
    </p>
    <p>
        Our scholarship fund will support about twenty people to attend DjangoCon Europe. Scholarships are fully sponsored (i.e. free) tickets that are awarded after an application process. Travel expenses and accommodation, if required, will also be awarded.
    </p>
    <p>
        Anyone from an underrepresented group in tech is invited to apply for this scholarship. This includes, but is not limited to: women, people of colour, LGBTQIA+ people, disabled people, and people facing economic or social hardships.
    </p>
    <p>
        The application process is simple: Tell us about what you do with Python or Django, and why you want to attend DjangoCon Europe.
    </p>
        Scholarships are made possible by our generous sponsors. We are very proud to be part of this community for showing their support. Thank you!
    </p>
    <p>
        Applications are due <strong>January 26th</strong>, by the end of the day CET (Budapest time).
    </p>
    <p>
        Thank you <a href="http://jsconf.eu" data-emoji-alt="☕📜📣">JSConf EU</a> for providing a great example of the process we're adopting.
    </p>
</section>

<div class="container" id="apply">
    <h1>Apply to DjangoCon's Scholarship Program</h1>
    <p>All the information you provide here is confidential and will only be shared within the organizing team.</p>

    <p>Fields marked with "*" are required.</p>
</div>
<form action="{% url 'scholarships:landing' %}" method="post" class="container">
    {{ form|bootstrap }}
    <p class="form-group text-center">
        <button type="submit" class="btn btn-primary" disabled>Submit</button>
        <a href="#closed">(the applications are closed)</a>
    </p>
    {% csrf_token %}
</form>

{% endblock %}
