{% extends 'base.html' %}

{% block content %}
<section class="container">
    <h1>Traveling from the airport</h1>

    <h2 id="taxi" data-emoji-alt="🚕">By taxi</h2>
    <p>
        If you’re coming from the airport, the easiest way to get to the hotel is by taxi.
    </p>
    <p>
        Use the official airport taxi that has a booth outside (the name is <a href="http://fotaxi.hu/?Language=en">“Főtaxi”</a> and they have a checkered red and white logo).
    </p>
    <p>
        There might be a bit of a queue for the booth but they’re very efficient and it shouldn’t take more than 15min of queuing during rush hour.
    </p>
    <p>
        Give your destination to the person in the booth (they speak English) and they’ll give you a ticket with a recap of the your destination's address, the estimated cost of the ride and a number.
        That’s the number of your taxi which should arrive within the next 5 minutes.
        The driver will know where you’re going so just sit and relax.
        A ride to the city center will take about 30min and should cost around 7000-8000 Ft.
        You’ll pay at the end, either by cash (Hungarian Forint only, Euros will probably not be accepted) or card (they accept all major European cards but if you have a US card without chip and PIN then you should inquire ahead of time).
    </p>

    <h2 id="public-transport" data-emoji-alt="🚌">By public transport</h2>

    <p>
        Public transport will take longer than a cab but it’s substantially cheaper.
    </p>
    <p>
        The first thing you need to do is buy either a ticket or a multi-day pass. A single ticket costs 350 Ft if bought individually but a pack of 10 cost 3 000 Ft.
    </p>
    <p>
        There are 24h passes (1 650 Ft), 72h passes (4 150 Ft) or 7 day passes (4 950 Ft). The 7-day pass needs to be completed with a personal ID number (any official document that has your name and a picture).
    </p>
    <p>
        Note that passes labeled “Budapest Card” are not the same thing as regular passes. The Budapest Card is a public transport pass that also gives you discounts to some museums in Budapest. It’s more expensive than a regular pass and probably not worth it unless you visit a lot of museums.
    </p>
    <p>
        You can buy all the different tickets and passes from <a href="http://www.bkk.hu/automata/">automatic machines</a> located everywhere around the city and at the airport too. Look for their distinctive purple color. They accept cash (coins and notes) as well as most credit cards and their interface is translated into many languages.
    </p>
    <p>
        You can find a list of all the existing tickets and passes at the <a href="http://www.bkk.hu/en/tickets-and-passes/prices/">official site of BKK</a> (the Budapest Transport Authority).
    </p>
    <p>
        There’s also a really good article about the Budapest public transport system on the <a href="http://welovebudapest.com/budapest.and.hungary/bkk.basics.a.guide.to.budapest.s.public.transportation.system">We Love Budapest</a> site.
    </p>

    <p>
        Once you have a ticket, find the stop for bus 200E (outside between terminal 2A and 2B) and ride it until the final stop: Kőbánya Kispest (there should be audio announcements in English in the bus but 90% of people get off at that stop anyway). This should be a 15min bus ride.
    </p>
    <p>
        From there, you can take Metro 3 (the blue line) that will take you towards the center (The "Kőbány Kispest" stop is the last one for this metro line so you can’t get the direction wrong). The metro ride will be 20-30min.
    </p>
    <p>
        When using single tickets (as opposed to passes), you need to validate a new ticket every time you switch (so in this case, one ticket for the bus, one for the metro).
    </p>
    <p>
        If you're going to the venue, you can get off the metro at the "Kávin Tér" station. From there, it's a 5-10min walk to the Budapest Music Center. This metro line (blue/3) will also take you to "Deák Ference Tér" where you can switch to a different metro line (1/yellow or 2/red) or hop on a few trams.
    </p>
    <p>
        Note that <a href="https://www.google.com/maps">Google Maps</a> can do public transport directions in Budapest so you can always rely on that to plan your route (just make sure you give it the correct time of day and weekday because service can vary a lot between day and night or weekday and weekends).
    </p>
</section>

{% endblock %}
