{% extends 'base.html' %}

{% block content %}
<section class="container">
    <h1>Money in Hungary</h1>

    <h2 id="currency-cash" data-emoji-alt="💰">Currency & cash</h2>

    <p>
        Hungary doesn’t use Euro (yet) but has it’s own currency: the Hungarian Forint (abbreviated HUF or sometimes Ft).
        It comes in coins (5, 10, 20, 50, 100, 200) and bank notes (500, 1 000, 2 000, 5000, 10 000, 20 000). The exchange rate is fairly stable, with <a href="https://encrypted.google.com/search?hl=en&q=1%20USD%20in%20HUF">one USD for 280 HUF</a> or <a href="https://encrypted.google.com/search?hl=en&q=1%20EUR%20in%20HUF">one EUR for 310 HUF</a>.
    </p>
    <p>
        Credit cards (with chip & PIN) are accepted in most places but a few places are still cash-only.
    </p>
    <p>
        To get Forints in Budapest, you can either use your card at an ATM (there are ATMs virtually on every corner in the center) or at an exchange office (there are also many in the center). Beware of exchange office with bad exchange rates (like the one at the airport for example). A good exchange office will only have a few forint difference between the buy and sell rate.
    </p>
    <p>
        If you use the ATM, be prepared to be confused by the big numbers. Try and figure out ahead of time how much you’d like to withdraw and convert that to the nearest 10 000 Ft. Note that sometimes ATMs detect foreign cards and will display really high withdrawal amounts by default. You can always choose “other amount” and type in what you want (provided it’s a multiple of 1000).
    </p>

    <h2 id="tipping" data-emoji-alt="👛">Tipping</h2>

    <p>
        The general rule of thumb in Hungary is to tip 10% at restaurant and bars.
    </p>
    <p>
        You do so by adding 10% and rounding up to the next 100 or 500 Forints (this helps limiting the amount of coins you end up with). If you can’t give exact change (if you only have a big 10 000 note for example), you usually hand over your note and announce how much you’d like to pay. It’s also always acceptable to get your exact change back and pay the tip from that.
    </p>
    <p>
        When paying by card, you can usually tell the final amount you'd like to pay (price + tip) when you hand your card over
    </p>
    <p>
        If you have exact change which includes the tip, the custom is to hand over the money with an obnoxiously obvious “thank you”. This will be understood to mean “thank you, keep the change”.
    </p>
    <p>
        Normally you have to add the tip to the bill yourself but some restaurants will “helpfully” do it for you (especially if they notice you are a tourist). This will show up on the bill as “service” or “szervízdíj”. If you notice a service fee has been included on the bill, you are not expected to pay anything extra.
    </p>
    <p>
        A quick example: Your meal comes up at 3 200 Ft. 3200 + 10% = 3520 so you can pay 3 500 Ft.
    </p>

</section>

{% endblock %}
