{% extends 'base.html' %}

{% block content %}

<section id="closed" class="container">
    <h1>Closed 🚫</h1>
    <p><strong>Our call for speakers closed on January 14th</strong> so you it's not possible to submit a proposal anymore.</p>
    <p>If you'd like to get in touch, please email us: <a href="mailto:2016@djangocon.eu">2016@djangocon.eu</a>.</p>
    <p>We've left this page up for informational purposes only.</p>
</section>

<section class="container">
    <h1>Call for Speakers 📣</h1>

    <p><em>Many thanks to <a href="http://jsconf.eu" data-emoji-alt="☕📜📣">JSConf</a> for allowing us to use their amazing “<span data-emoji-alt="☎️🔢🔈">Call for Speakers</span>” as a base for this page. They are wonderful and we happily borrowed - with their permission - this amazing copy.</em></p>

    <p>We would like to invite the <span data-emoji-alt="🎸">Django</span> community to submit talks for the upcoming DjangoCon Europe in Budapest. The conference will take place from March 30th to April 1st. This Call for Paper closes on <strong>14th January 2016</strong>.</p>

    <p>If you think you have something great to talk about, tell us all about it and we will consider your entry. If you know someone who has something great to talk about, nominate them. And if you are interested in hearing about a particular topic, nominate it too, and we can try and find a match.</p>

    <p>If we've convinced you to speak at DjangoCon already then feel free to skip this page and go directly to the <a href="{% url 'cfp:propose' %}">submission form</a>. Otherwise, keep reading and we'll see if we can change your mind.</p>
</section>


<section id="topics" class="container">
    <h2>Topics 📚</h2>

    <p>To get a feel for what we are interested in hearing about, here is the programme for the past years (<a href="http://2015.djangocon.eu/talks/">2015</a>, <a href="http://2014.djangocon.eu/talks/">2014</a>, <a href="http://2013.djangocon.eu/talks/">2013</a>, <a href="http://2011.djangocon.eu/schedule/">2011</a>).</p>

    <p>We would like to see anything that squarely fits into the spectrum of:</p>

    <ul>
        <li><span data-emoji-alt="🎸">Django</span> internals and challenges in modern web development.</li>
        <li>Wild Ideas & Clever Hacks.</li>
        <li>Improving Django and <span data-emoji-alt="🐍">Python</span> developers’ lives.</li>
        <li>How to make Django play nicely with all fresh, trendy JS frameworks.</li>
        <li>How to push Django to its limits?</li>
        <li>Fundamentals, in a modern <span data-emoji-alt="💡">light</span>.</li>
        <li>The Django and Python community, culture, history, past, present & future, the why the who and the what of what we’re all doing.</li>
        <li>And finally: Whatever the hell you want; this is your conference.</li>
    </ul>
</section>


<section id="help" class="container">
    <h2>We Can Help 👌</h2>

    <p>Not everybody is a natural talent on stage. Not everybody can produce kick-ass slide-decks. Not everybody knows they have something great to talk about.</p>

    <p>There are about <span data-emoji-alt="💯">a million</span> reasons why you don’t consider yourself a speaker, let alone at DjangoCon Europe, where some of your heroes might have spoken in the past. <strong>We are here to prove you wrong</strong>. If all you have is a gut feeling that you should be on stage, we are here to help you develop or hone the skills you think you lack to deliver a great presentation.</p>

    <ul>
        <li>We are happy to brainstorm your interests to see if a great topic is hiding.</li>
        <li>We are happy to connect you with experienced speakers to help prepare your submission.</li>
        <li>We are happy to review and advise on how to produce a slide deck.</li>
        <li>If you need practice giving talks, get in touch, we can hook you up with local groups or set up a stage for you and a bunch of friends in advance, so you can practice in front of a friendly crowd.</li>
        <li>Again, whatever else you might need, we’re here to help.</li>
    </ul>

    <p>Get in touch: <a href="mailto:2016@djangocon.eu">2016@djangocon.eu</a> (just don’t use this to submit a proposal).</p>

    <p>If you need more encouragement, check out <span data-emoji-alt="🍯🍪👨">Erik Romijn</span> last year’s blogpost about <a href="http://erik.io/blog/2015/03/11/why-you-should-speak/">Why you should speak (at DjangoCon Europe)</a>?</p>

    <p>If you need some extra help to get to the conference, we also have a <a href="{% url 'scholarships:landing' %}">scholarship program</a> giving away financial grants and/or free tickets. Anyone can apply to the program but accepted speakers will have priority in the selection process.</p>
</section>


<section id="mentorship" class="container">
    <h2>Mentorship 🙋</h2>

    <p>To help more people feel comfortable taking the step to submit a talk, we have a speaker mentor programme. A speaker mentor is an experienced speaker, who has volunteered to help other speakers.</p>

    <p>It could be any kind of help, for any kind of reason: anything from someone who can advise on whether your idea for a talk is a good one to someone who’ll be happy to hear you practise it.</p>

    <p>Remember, we don’t want to be proud because we had a lot of <span data-emoji-alt="🔭">superstar</span> speakers at our conference. We want to be proud because we were the conference where <strong>you</strong> began your superstar speaking career.</p>

    <p>Here’s a list of people who have agreed to be speaker mentors, and will be genuinely delighted to be asked to help. And if you’d like to be on the list, please just <a href="mailto:2016@djangocon.eu">drop us a line</a> (or better yet, <a href="https://github.com/djangocon/2016.djangocon.eu/blob/master/templates/cfp/landing.html">send us a pull request</a>).</p>

    <ul>
      <li><a href="https://twitter.com/evildmp"><b>Daniele Procida</b></a> - DjangoCon Europe 2015 organiser, core team member, Italian/French speaker. <a href="mailto:daniele@vurt.org">Get in touch with Daniele</a>.</li>
      <li><a href="https://twitter.com/laceynwilliams"><b>Lacey Williams Henschel</b></a> - DjangoCon US organiser, Django Girl, English speaker. <a href="mailto:laceynwilliams@gmail.com">Get in touch with Lacey</a>.</li>
      <li><a href="https://twitter.com/phalt_"><b>Paul Hallett</b></a> - Really, really, really loves APIs, Django Girls committer, English speaker. <a href="mailto:paulandrewhallett@googlemail.com">Get in touch with Paul</a>.</li>
      <li><a href="https://twitter.com/limedaring"><b>Tracy Osborn</b></a> - DSF Member, Author of Hello Web App, English speaker. <a href="mailto:tracy.j.osborn@gmail.com">Get in touch with Tracy</a>.</li>
      <li><a href="https://twitter.com/honzakral"><b>Honza Král</b></a> - Elasticsearcher, core team member, Czech speaker. <a href="mailto:honza.kral@gmail.com">Get in touch with Honza</a>.</li>
      <li><a href="https://twitter.com/anabalica"><b>Ana Balica</b></a> - DjangoCon organizer, Google Summer of Code mentor, Romanian/Russian speaker. <a href="mailto:ana.balica@gmail.com">Get in touch with Ana</a>.</li>
      <li><a href="https://twitter.com/andrewgodwin"><b>Andrew Godwin</b></a> - Aeronaut, database expert, core team member, English speaker. <a href="mailto:andrew@aeracode.org">Get in touch with Andrew</a>.</li>
      <li><a href="https://twitter.com/asendecka"><b>Ola Sendecka</b></a> - DjangoCon Europe organizer, core team member, Django Girl, Polish speaker. <a href="mailto:ola@hauru.eu">Get in touch with Ola</a>.</li>
      <li><a href="https://github.com/funkybob"><b>Curtis Maloney</b></a> - DSF Member, core team member, English speaker. <a href="mailto:curtis@tinbrain.net">Get in touch with Curtis</a>.</li>
      <li><a href="https://twitter.com/olasitarska"><b>Ola Sitarska</b></a> - DjangoCon Europe organizer, core team member, Django Girl, Polish speaker. <a href="mailto:ola@sitarska.com">Get in touch with Ola</a>.</li>
      <li><a href="https://twitter.com/_tomchristie"><b>Tom Christie</b></a> - Django Rest Framework author, core team member, English speaker. <a href="mailto:tom@tomchristie.com">Get in touch with Tom</a>.</li>
      <li><a href="https://twitter.com/mjtamlyn"><b>Marc Tamlyn</b></a> - Django: Under The Hood organizer, core team member, English speaker. <a href="mailto:marc.tamlyn@gmail.com">Get in touch with Marc</a>.</li>
      <li><a href="https://twitter.com/jacobian"><b>Jacob Kaplan-Moss</b></a> - Core Developer, former Benevolent Dictator for Life, and Director of Security at Heroku, English speaker. <a href="mailto:jacob@jacobian.org">Get in touch with Jacob</a>.</li>
      <li><a href="https://twitter.com/OssAnna16"><b>Anna Ossowski</b></a> - PSF director, PyCon US and DjangoCon US organizer, PyLadies Remote group leader, German/English speaker. <a href="mailto:ossanna16@gmx.de">Get in touch with Anna</a>.</li>
      <li><a href="https://twitter.com/freakboy3742"><b>Russell Keith-Magee</b></a> - Core team veteran, enthusiastic Australian and itinerant yak shaver. English speaker. <a href="mailto:russell@keith-magee.com">Get in touch with Russell</a>.</li>
    </ul>
</section>


<section id="perks" class="container">
    <h2>The Perks 🍬</h2>

    <p>If you get selected as a speaker at DjangoCon Europe, here’s what you get:</p>

    <ul>
        <li><strong>Entrance to the conference</strong>. If you get selected to speak and if you need to, we can refund your ticket, but if we don’t, we can spend more money on making the conference more awesome.</li>
        <li><strong>We cover your stay in Budapest</strong> in a hotel near the venue (including free Wifi) for the days of the conference and a day before and after. If you want to stay longer, we can arrange things, just let us know. You will have to cover extra nights, though.</li>
    </ul>

    <p>If your employer can cover your travel and hotel, we are happy to list them as an awesome company sponsor. The money we save will be used to make the conference more awesome.</p>

    <p>If you have any special requirements, just let us know, we can usually work these things out. Just note that every minute we spend on this, we don't spend on making the conference more awesome ;).</p>

    <p>If you want to bring a significant other, or bring your kid(s) and need child-care - you should not worry about it: there will be a crèche available for your kids during all days of the conference and Budapest is an amazing city with loads of things to visit, so your significant other will have a great time (<span data-emoji-alt="♨️">thermal baths</span>, delicious food, loads of museums, wonderful wine to name only a few of attractions). We are here to make this easy for you!</p>
</section>


<section id="process" class="container">
    <h2>The Selection Process 🎓</h2>

    <p>Here’s roughly how we pick our talks:</p>

    <ul>
        <li>Anonymize submissions, so we don’t bias against anything related to the submitting person.</li>
        <li>Two rounds of voting:
            <ol>
                <li>The first round rates each talk on a scale from 1 to 10.</li>
                <li>The top-N (~50) submissions are rated again on a 3-point scale: “meh”, “yay”, “MUST HAVE”.</li>
            </ol>
        </li>
        <li>De-anonymize so we can (finally) bias against speaker details.</li>
        <li>…and a number of details that we make up as we go along.</li>
    </ul>

    <p>We expect 100-200 excellent submissions for 20-25 speaking slots.</p>
</section>


<section id="guidelines" class="container">
    <h2>Guidelines 📏</h2>

    <p>Submit your proposal by <strong>January 14th 2016, 23:59:59 CEST</strong>. No excuses.</p>

    <p>All talks are in <strong>English</strong>.</p>

    <p><strong>Talks are usually 30 minutes long</strong> (for longer talks we’d get in touch with you directly). We strongly encourage timing your presentation in advance.</p>

    <p><strong>Make sure you care</strong>, and make sure we see you care. Typos, sloppy formatting and all-lowercase submissions make our reading of your proposal tedious. These things will definitely count against your proposal.</p>

    <p><strong>Don’t overdo it</strong> either. If you need more than two paragraphs to get to the point of your topic, we need to ask you to slim things down. With the amount of submissions we get, the quicker you can to make a good impression, the better.</p>

    <p><strong>Original Topics</strong>. One of the things we like to do with DjangoCon Europe is to push the community forward. We can’t do this if the <strong>same people keep talking about the same things all the time</strong>. Thus, we favour original content. If you want to discuss a topic that you have talked about elsewhere, try to add a twist, or new <span data-emoji-alt="🔬">research</span>, or development, something unique. Of course, if your talk is plain awesome as-is, go for that :)</p>
</section>


<section id="misc" class="container">
    <h2>Misc 🔩</h2>

    <p>All talks will be recorded and published on the internet for free, along with a recording of the slide deck, live-demo or other on-presenter-screen activity as well as a transcript and subtitles.</p>

    <p>We do this for the benefit of the larger Django community and those who can’t make it to the conference. We hope you want to help out, but if you are in any way uncomfortable, let us know and we will work things out.</p>

    <p>Finally, since you retain full ownership of your slides and recording, we’d like to ask you to make your materials and recording available under a creative commons (we default to no commercial reuse) or other open source license.</p>
</section>

<section id="propose" class="container">
    <h2>Submit Your Talk 📫</h2>

    <p>Fill out our <a href="{% url 'cfp:propose' %}">talk proposal form</a></p>
</section>
{% endblock %}
