{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}
<div class="container">
    <h1>We want you to speak at DjangoCon</h1>
    <p>All the information you provide here is confidential and will only be shared within the organizing team.</p>

    <p>Your name as well as the title and description of your talk will only be published after your approval.</p>

    <p>Fields marked with "*" are required.</p>
</div>
<form action="{% url 'cfp:propose' %}" method="post" id="proposal" class="container">
    {{ form|bootstrap }}
    <p class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </p>
    {% csrf_token %}
</form>
{% endblock %}
