body {
  background: #fcf5ca;
  color: #180e00;
  line-height: 1.3em;
  font-family: 'Crimson Text';
  font-size: 22px;
}
a,
a:hover {
  color: #6e5b2f;
  text-decoration: underline;
}
a:hover {
  text-decoration: none !important;
}
section {
  margin-top: 30px;
  margin-bottom: 40px;
}
.container {
  margin-top: 10px;
}
main {
  position: relative;
}
header {
  text-align: center;
  background: #2f2513;
  width: 100%;
  padding: 30px 0;
}
header .logo {
  width: 100%;
  max-width: 1000px;
  height: 381px;
  margin: 0 auto -31px;
  background: url("../img/header.png") center top;
  background-size: cover;
}
#about h1 {
  font-family: 'Limelight', cursive;
  font-size: 50px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: 100;
}
#about p {
  font-size: 22px;
  font-family: 'Crimson Text';
}
#about .dates {
  padding-left: 30px;
}
#about .dates h2 {
  margin-top: 34px;
  margin-bottom: 26px;
}
#city {
  background: url(../img/Budapest-panorama-low.jpg) 50% 0 no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 0;
}
#city .city-container {
  width: 100%;
  position: relative;
  background: rgba(47, 37, 19, 0.4);
  padding: 60px 0;
  color: #fcf5ca;
  font-weight: 300;
  line-height: 1.6em;
}
#city .city-container p {
  margin-bottom: 1em;
}
#city .city-container .copyright {
  font-size: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
#newsletter {
  padding-top: 30px;
}
#newsletter form {
  margin-top: 15px;
}
#newsletter button[type="submit"] {
  background: url(../img/newsletter-subscribe.png) no-repeat;
  height: 50px;
  font-size: 0px;
  width: 180px;
  border-radius: 0px;
  border: 0px;
  margin-top: 15px;
}
#newsletter input[type="email"],
#newsletter input[type="email"]:focus {
  background: none;
  border: 0px;
  border-bottom: 2px solid #2f2513;
  box-shadow: none;
  border-radius: 0;
  font-size: 22px;
  color: #2f2513;
  padding: 0;
  width: 300px !important;
}
h1,
h2,
h3,
h4 {
  vertical-align: bottom;
  font-family: 'Limelight';
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: normal;
}
h1 img,
h2 img,
h3 img,
h4 img {
  margin-right: 15px;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
  margin: 40px 0 15px 0;
}
h4 {
  font-size: 26px;
  margin: 30px 0 10px 0;
}
.centered {
  text-align: center;
}
#sponsors .row {
  margin: 30px 0 30px;
}
#sponsors .heart .wrapper {
  text-align: center;
}
#sponsors .heart img {
  width: 100%;
  margin-top: 20px;
}
#sponsors .description {
  margin-top: 40px;
}
footer {
  background: #2f2513;
  background-image: url(../img/footer-border.png);
  background-repeat: no-repeat;
  background-position: center 40px;
  color: #fcf5ca;
  padding: 90px 0 30px;
  font-size: 20px;
}
footer h2 {
  margin-bottom: 50px;
}
footer .twitter img {
  margin-right: 15px;
}
footer a {
  text-decoration: none !important;
  color: #fcf5ca;
}
footer ul {
  list-style-type: none;
  margin: 0 0 0 20px;
}
footer ul li {
  float: left;
  margin-right: 165px;
}
footer ul li:last-child {
  margin-right: 0;
}
footer .credits {
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
}
#coc h3 {
  font-family: 'Limelight';
  font-size: 32px;
  margin-top: 30px;
}
.cls {
  clear: both;
}
.centered-margin {
  text-align: center;
  margin: 30px 0;
}
.btn,
.btn:hover {
  background: #2f2513;
  color: white;
  font-family: 'Crimson Text';
  border: 0px;
  font-size: 24px;
  height: auto;
  padding: 9px 20px 8px;
  text-decoration: none;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.emoji-alt {
  font-weight: normal;
}
.emoji-alt:hover,
.emoji-alt:focus {
  outline: 1px dotted #6e5b2f;
  cursor: help;
}
.emojimode-toggler {
  cursor: pointer;
}
