<div class="row" id="intro">
    <div class="col-md-7">
        {% block text %}
        <h1 data-emoji-alt="🎸📢">DjangoCon Europe 2016</h1>
        <p>
            <span data-emoji-alt="🎸📢">DjangoCon</span> Europe is back for its seventh edition! Join us this spring for five exciting days full of <span data-emoji-alt="🎸">Django</span>, <span data-emoji-alt="🐍">Python</span> and <span data-emoji-alt="🎷">jazz</span> in the beautiful Budapest.
        </p>
        <p>DjangoCon Europe is a community-run &amp; non-profit event that aims to gather a diverse group of curious, passionate and kind <span data-emoji-alt="🎸⛵">Djangonauts</span> every year to learn, share and meet.
        </p>
        <p>
            We commit ourselves to making DjangoCon Europe as accessible and diverse as we possibly can. All organizers, attendees, and sponsors must follow the <a href="{% url 'coc' %}">Code of Conduct</a>.
        </p>
        {% endblock %}
    </div>

    <div class="col-md-5 dates">
        <h2>When &amp; where?</h2>
        <p>Beautiful venue in the heart of Budapest, Hungary.</p>
        <p>3 days of <span data-emoji-alt="📢">talks</span>: March 30th, 31st, April 1st</p>
        <p>2 days of <span data-emoji-alt="🏃">sprints</span>: April 2nd &amp; 3rd</p>
    </div>
</div>

<div class="row" id="cfp">
    <div class="col-md-12 text-center">
        <h2>Become a speaker</h2>
        <p>We want <strong>you</strong> to speak at DjangoCon!</p>
        <p>Our call for speakers is open until <strong>January 14th 2016</strong>.</p>
        <p>
            <a href="{% url 'cfp:landing' %}" class="btn btn-lg btn-primary">Apply now!</a>
        </p>
    </div>
</div>

<div class="row" id="scholarships">
    <div class="col-md-12 text-center">
        <h2>Need a little help from your friends?</h2>
        <p>We do our best to keep the ticket prices low, but we know that it can still too much for some people.</p>
        <p>We don't want to miss out on your participation in our community just because of money, which is why we have a scholarship program.</p>
        <p>With financial grants and free tickets, we hope we can bring some awesome Djangonauts to Budapest.</p>
        <p>We'll be collecting applications until <strong>January 26th</strong>.</p>
        <p>
            <a href="{% url 'scholarships:landing' %}" class="btn btn-lg btn-primary">Apply now!</a>
        </p>
    </div>
</div>

<div class="row" id="newsletter">
    <div class="col-md-12 text-center">
        <h2>Sign up for our newsletter</h2>
        <p>Stay up to date with latest news and announcements. No spam, <span data-emoji-al="✋">pinky swear</span>.</p>
        <form action="//djangocon.us11.list-manage.com/subscribe/post?u=675a7a7f54d51fc3b8ff2b782&amp;id=e52040595e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank">
            <label class="sr-only" for="mce-EMAIL">Your e-mail address</label>
            <input type="email" required value="" name="EMAIL" class="required email form-control" placeholder="you@reaweso.me" id="mce-EMAIL">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_675a7a7f54d51fc3b8ff2b782_e52040595e" tabindex="-1" value=""></div>
            <br>
            <button type="submit" class="form-control">Subscribe</button>
        </form>
    </div>
</div>
