<div class="row" id="intro">
    <div class="col-md-7">
        {% block text %}
        <h1 data-emoji-alt="🎸📢">DjangoCon Europe 2016</h1>
        <p>
            <span data-emoji-alt="🎸📢">DjangoCon</span> Europe is back for its seventh edition! Join us this spring for five exciting days full of <span data-emoji-alt="🎸">Django</span>, <span data-emoji-alt="🐍">Python</span> and <span data-emoji-alt="🎷">jazz</span> in the beautiful Budapest.
        </p>
        <p>
          DjangoCon Europe is a community-run &amp; non-profit event that aims to gather a diverse group of curious, passionate and kind <span data-emoji-alt="🎸⛵">Djangonauts</span> every year to learn, share and meet.
        </p>
        <p>
          DjangoCon organizers work hard to make it as easy for you to participate as possible. <a href="#accessibility">Read more to see how we make the event more accessible</a>.
        </p>
        {% endblock %}
    </div>
    <div class="col-md-5 text-center" id="tickets">
        <h2 data-emoji-alt="🎫">Tickets 🎫</h2>
        <p>The first batch of tickets is currently on sale.</p>
        <p>
            <a href="https://ti.to/djangocon-europe-2016/budapest/" class="btn btn-lg btn-primary">Get yours now!</a>
        </p>
    </div>
</div>

<section class="row" id="program">
    <h2 class="col-md-12">What, When, &amp; where?</h2>
    <div class="col-md-4">
        <h3 data-emoji-alt="🎸👧">Django Girls</h3>
        <p><strong>March 29th</strong>: the <a href="https://djangogirls.org/budapest/">Django Girls Budapest team</a> is organizing their 4th workshop. Coach applications are open.</p>
    </div>
    <div class="col-md-4">
        <h3 data-emoji-alt="📢">Conference</h3>
        <p><strong>March 30th, 31st, April 1st</strong>: 3 days of talks from <a href="{% url 'speakers:list' %}">talented speakers</a> in a <a href="{% url 'venue' %}">gorgeous venue</a>.</p>
    </div>
    <div class="col-md-4">
        <h3 data-emoji-alt="🏃">Workshops/Sprints</h3>
        <p><strong>April 2nd &amp; 3rd</strong>: 2 days of workshops and sprints. Come learn how to contribute to Django or your favorite open-source library.</p>
    </div>
</section>

<div class="row" id="accessibility">
    <div class="col-md-12">
        <h2>We want you here!</h2>
        <p>
            We commit ourselves and strive to make DjangoCon Europe as accessible and diverse as we possibly can.
            Whether you learned Django 10 years ago, or haven't even started to code yet, DjangoCon is for you.
            There are about a million reasons why you wouldn’t consider showing up at DjangoCon Europe, and we do our best to make your participation in the conference easier for you.
        </p>
    </div>
    <div class="col-md-6">
        <h4>Code of Conduct</h4>
        <p>
            All organizers, attendees, speakers and sponsors must follow the <a href="{% url 'coc' %}">Code of Conduct</a>.
            We're committed to providing a safe and friendly environment for everyone to learn, meet, and enjoy the conference.
        </p>
        <h4>Child care</h4>
        <p>
            We know that attending a conference with your children can be difficult. To make it easy for you, we're providing
            a free childcare service staffed by registered and qualified childminders, at no extra cost, during conference hours.
        </p>
        <h4>Dietary requirements</h4>
        <p>
            We aim to meet all dietary requirements. You will be able to specify these when purchasing your ticket.
        </p>
    </div>
    <div class="col-md-6">
        <h4>Live captioning</h4>
        <p>
            All talks on Wednesday, Thursday and Friday will feature simultaneous speech-to-text transcription,
            which will also be used for subtitling the conference videos that are subsequently published.
        </p>
        <h4>Venue accessibility</h4>
        <p>
            The conference takes place at the Budapest Music Center, and we made sure that venue is fully wheelchair-accessible.
        </p>
        <h4>Program</h4>
        <p>
            The DjangoCon agenda is featuring both novice talks for people just starting their journey into the world of development,
            as well as advanced talks for experienced developers.
        </p>
        <h4>Quiet rooms</h4>
        <p>
            We will provide a clearly-marked designated quiet room. This room is intended to be a calm and quiet place for anyone who needs to have a break from the bustle of the conference.
        </p>
    </div>
    <div class="col-md-12">
        <h2>Is something missing?</h2>
        <p>
            Have we neglected something you need, or is there something not mentioned here that would make your attendance possible, or improve your experience of the event? <a href="mailto:2016@djangocon.eu">Please let us know</a>. We’ll do what can to provide it.
        </p>
    </div>
</div>
