{% load staticfiles %}
<img src="{% static 'img/footer-border.png' %}" class="bulb" />
<div class="row">
    <div class="col-md-12">
        <ul>
            <li class="easteregg"><a title="Turn on emoji mode" class="emojimode-toggler emojimode-off">😺</a></li>
            <li><a href="mailto:2016@djangocon.eu">2016@djangocon.eu</a></li>
            <li><a href="http://twitter.com/DjangoConEurope" data-emoji-alt="🐦">@DjangoConEurope</a></li>
            <li><a href="{% url 'coc' %}">Code of Conduct</a></li>
        </ul>
    </div>
</div>
