<div class="container">
    <nav class="row">
        <ul>
            <li class="easteregg col-md-2 col-sm-12"><a title="Turn on emoji mode" class="emojimode-toggler emojimode-off">😺</a></li>
            <li class="col-md-2 col-sm-12"><a href="mailto:2016@djangocon.eu">2016&#8203;@djangocon.eu</a></li>
            <li class="col-md-2 col-sm-12"><a href="http://twitter.com/DjangoConEurope" data-emoji-alt="🐦">@DjangoCon&#8203;Europe</a></li>
            <li class="col-md-2 col-sm-12"><a href="{% url 'coc' %}">Code of Conduct</a></li>
            <li class="col-md-2 col-sm-12"><a href="{% url 'cfp:landing' %}">CfP (closed)</a></li>
            <li class="col-md-2 col-sm-12"><a href="{% url 'organizers:list' %}" data-emoji-alt="👷">The Team</a></li>
        </ul>
    </nav>
</div>
