<div class="row">
    <div class="col-md-12 text-center">
        <h2>Sign up for our newsletter</h2>
        <p>Stay up to date with latest news and announcements. No spam, <span data-emoji-al="✋">pinky swear</span>.</p>
        <form action="//djangocon.us11.list-manage.com/subscribe/post?u=675a7a7f54d51fc3b8ff2b782&amp;id=e52040595e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank">
            <label class="sr-only" for="mce-EMAIL">Your e-mail address</label>
            <input type="email" required value="" name="EMAIL" class="required email form-control" placeholder="you@reaweso.me" id="mce-EMAIL">
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_675a7a7f54d51fc3b8ff2b782_e52040595e" tabindex="-1" value=""></div>
            <br>
            <button type="submit" class="form-control">Subscribe</button>
        </form>
    </div>
</div>
