{% load staticfiles %}
{% load chunkify randomify toolbox %}

<div class="row">
<h1>Sponsors</h1>

<p class="row">It is thanks to companies like these that we can keep the ticket prices low and make the conference the memorable event that it is. If you see them at a booth or around the venue, make sure you give them a high-five.</p>

{% for sponsor in sponsors.platinum|randomify_by_date %}
<div class="row {{ sponsor.css_class }}" id="sponsor-{{ sponsor.pk }}">
    <div class="logo">
        <a href="{{ sponsor.url }}">{{ sponsor.logo_html }}</a>
        {% toolbox sponsor user=user %}
    </div>
    <div class="description">
        {{ sponsor.linkified_description}}
    </div>
</div>
{% endfor %}

{% for chunk in sponsors.gold|randomify_by_date|chunkify:2 %}
<div class="row">
    {% for sponsor in chunk %}
        <div class="col-md-6 {{ sponsor.css_class }}" id="sponsor-{{ sponsor.pk }}">
            <div class="logo">
                <a href="{{ sponsor.url }}">{{ sponsor.logo_html }}</a>
                {% toolbox sponsor user=user %}
            </div>
            <div class="description">
                {{ sponsor.linkified_description}}
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}

{% for chunk in sponsors.silver|randomify_by_date|chunkify:4 %}
<div class="row">
    {% for sponsor in chunk %}
        <div class="col-md-3 {{ sponsor.css_class }}" id="sponsor-{{ sponsor.pk }}">
            <div class="logo">
                {% toolbox sponsor user=user %}
                <a href="{{ sponsor.url }}">{{ sponsor.logo_html }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}

{% for chunk in sponsors.bronze|randomify_by_date|chunkify:6 %}
<div class="row">
    {% for sponsor in chunk %}
        <div class="col-md-2 {{ sponsor.css_class }}" id="sponsor-{{ sponsor.pk }}">
            <div class="logo">
                {% toolbox sponsor user=user %}
                <a href="{{ sponsor.url }}">{{ sponsor.logo_html }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}
</div>
