{% load staticfiles %}

<div class="row">
    <h1 class="centered">Support DjangoCon!</h1>
    <div class="col-md-4 col-md-offset-1 heart">
        <div class="wrapper">
            <img src="{% static 'img/sponsors-pointer.png' %}" alt="❤️" />
        </div>
    </div>

    <div class="col-md-6 description">
        <p>We are seeking companies who wish to support the event financially. DjangoCon Europe is a non-profit event and your contributions will allow us make the event better. We aim to make the event as affordable and accessible as possible for everyone. We're also going to provide a financial aid program to help people from underrepresented groups attend the event.</p>

        <p>If you are interested in helping, please <a href="mailto:2016@djangocon.eu">get in touch</a>.</p>
    </div>
</div>
<div class="cls"></div>
