{% load activeurl %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}DjangoCon Europe 2016{% endblock %}</title>
        <meta name="description" content="DjangoCon Europe 2016 -- annual European Django community conference">
        <meta name="keywords" content="programming, python, django, conference, europe">
        <meta property="og:title" content="DjangoCon Europe 2016">
        <meta property="og:type" content="website">
        <meta property="og:description" content="DjangoCon Europe 2016 -- annual European Django community conference">
        <meta property="og:url" content="http://2016.djangocon.eu/">
        <meta property="og:image" content="http://2016.djangocon.eu/static/img/avatar.png">
        <link href="https://fonts.googleapis.com/css?family=Limelight|Crimson+Text:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="screen">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen">
    </head>
    <body>
        <header>
            <a href="{% url 'home' %}"><div class="logo">
                <span class="sr-only">DjangoCon Europe 2016</span>
            </div></a>
            <nav class="container">
                {% activeurl %}
                <ul class="row list-inline">
                    <li><a href="{% url 'home' %}" data-emoji-alt="🏡">Home</a></li>
                    <li><a href="{% url 'speakers' %}" data-emoji-alt="🔈🔈🔈">Speakers</a></li>
                    <li><a href="{% url 'venue' %}" data-emoji-alt="🏠🎷🎵">Venue</a></li>
                    <li><a href="{% url 'coc' %}">Code of Conduct</a></li>
                </ul>
                {% endactiveurl %}
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% include '_footer.html' %}
        </footer>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>
