{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="coc" class="container">
    <h1>
        Code of Conduct
    </h1>
    <p>
        <em>DjangoCon Europe</em> aims to be a welcoming event, where people
        meet in a friendly environment. Accordingly, all participants are expected
        to show respect and courtesy to other participants throughout the conference.
    </p>
    <p>
        To make clear what is expected, all delegates/attendees, speakers,
        exhibitors, organizers and volunteers at any DjangoCon Europe event
        are required to conform to the following Code of Conduct. Organizers will
        enforce this code before and throughout the event.
    </p>

    <h3 id="tldr">In short</h3>
    <ul>
        <li>DjangoCon Europe is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices</li>
        <li>We do not tolerate harassment of conference participants in any form.</li>
        <li>Sexual language and imagery is not appropriate for any conference venue, including talks.</li>
        <li>Be kind to others. Do not insult or put down other attendees. Behave professionally. Don’t publish individual photographs of people without their consent. Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for DjangoCon Europe.</li>
        <li>Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organizers.</li>
    </ul>
    <h3 id="longer-version">Longer version</h3>
    <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention</p>

    <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

    <p>Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Excessive swearing and offensive jokes are not appropriate for DjangoCon Europe.</p>

    <p>If a participant engages in harassing behavior, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

    <p>We expect participants to follow these rules at all conference venues and conference-related social events.</p>

    <h3 id="reporting-harrassment">Reporting harassment</h3>

    <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact the Code of Conduct committee at DjangoCon Europe by emailing <a href="mailto:conduct@djangocon.eu">conduct@djangocon.eu</a> or by reaching out to one of the conference organizers on site. </p>

    <p>If the matter is especially urgent, please call DjangoCon Europe staff:</p>
    <ul>
        <li>Ola (female staff member): <strong>+36 20 401 7949</strong></li>
        <li>Rob (male staff member): <strong>+36 20 401 7635</strong></li>
    </ul>
    <p>If you’re currently afraid of your physical safety or are in danger, contact local law enforcement:</p>
    <ul><li>Emergency (Fire, Medical, Police): 112</li></ul>
    <p>
        The staff is well informed on how to deal with the incident and how to further proceed with the situation. Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
    </p>
</section>

{% endblock %}
