{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="dictionary" class="container">
    <h1>
        Glossary
    </h1>
    <p>
        If you're not sure what all those specific to this conference concepts mean, we have your back! We gathered here terms that might be confusing. Do you think something is missing? Give us a hint at <a href="mailto:2016@djangocon.eu">2016&#8203;@djangocon.eu</a>.
    </p>
    <p>
        <strong>CfP</strong> - Call for Paper - a way to call up and select speakers. Organisers ask people to submit their talk proposals or to nominate someone they want to see on a stage. Usually, there is a submission form to fill out. Afterwards, the submissions are anonymized and scored. The applicants that scored highest are invited to speak at a conference.
    </p>
    <p>
        <strong>Djangonaut</strong> - a person working with Django.
    </p>
    <p>
        <strong>Keynote</strong> - a talk from an invited speaker. Tends to be less technical and aims to be more inspirational, but that's not a hard rule. The keynote lecture is often longer, lasting sometimes up to an hour and a half.
    </p>
    <p>
        <strong>Lightning talk</strong> - a 5min talk. Usually, lightning talks are at the end of the day. Subjects may vary: from an introduction to newest greatest tool speeding your work to quick workshop about how to eat a Tim Tam cookies properly. The only sure thing is a time limit. You have only five minutes. After those are up, presenter's microphone is disconnected and audience thanks the speaker with a roar of applause.
    </p>
    <p>
        <strong>Sprint</strong> - that's the point in the schedule when we take out our computers and code together. Everyone is free to choose a subject that they want to work on. If you don't know what would you like to improve and in which project, you can join other people. Sprints are probably the best way to learn how to contribute to Django or your favorite open-source project.
    </p>
    <p>
        <strong>Stroopwafels</strong> - wikipedia says: <em>stroopwafel is a waffle made from two thin layers of baked dough with a caramel-like syrup filling in the middle. It is popular in the Netherlands.</em> It is also a inside joke of Django community. It is unclear how this whole madness has started, but it was in full bloom in Amsterdam on the conference Django Under The Hood. There were 720 stroopwafels, including speaker gifts. That's 23 kg of stroopwafel, 104 million calories. Attendees loved stroopwafels so much that one of them even got sick from consuming too much. After hearing that, one of the DUTH organizers, who is dutch, looked suspicously self-satisfied.
    </p>
    <p>
        <strong>TBA</strong> - short for To Be Announced.
    </p>

</section>

{% endblock %}
