{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section id="about" class="container">
    {% include '_about.html' %}
</section>

<section id="city">
    <div class="city-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% include '_city.html' %}
                </div>
            </div>
        </div>
   </div>
</section>

<section id="sponsors" class="container">
    {% include '_sponsors.html' %}
</section>

{% endblock %}
