{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="container" id="conference">
    <h1>Conference Venue</h1>

    <p>DjangoCon Europe has a long history of taking place in remarkable venues: a stadium, a circus tent, a private island, a city hall, ....</p>

    <p>This year is no different and we're very proud to present you the venue for the 2016 edition: the <a href="http://bmc.hu/?l=en">Budapest Music Center</a>.</p>

    <p class="row"><img src="{% static 'img/BMC_main_hall.jpg' %}" alt="BMC's main hall" class="fullwidth"></p>

    <p>Located in the <a href="https://www.google.com/maps/place/BMC+Budapest+Music+Center+Kft./@47.4856218,19.0590007,17z/data=!3m1!4b1!4m2!3m1!1s0x4741dc56890cfdcd:0x2f1aa27c46522538">heart of Budapest</a>, a stone's throw away from the majestic Danube, the BMC is a gorgeous and elegant concert hall where Djangonauts will feel right at home, surrounded by their friends and the history of Hungarian and European Jazz.</p>

    <p>It is also conveniently placed near major hubs of the Budapest public transport system: Kálvin Tér (Metros 3 and 4, Trams 47 and 49), Fővám Tér (Metro 4, Trams 2, 47, and 49).</p>

    <h2>Accessibility</h2>

    <p>The conference venue has multiple floors and they're all accessible by elevator.</p>
    <p>There's a step-free access from the street to the venue and there is one wheelchair-accesible toilet on the ground floor.</p>

    <p>For public transport, sadly only Metro 4 is really accessible, though most buses in Budapest now have low floors.</p>

    <p>For an exhaustive list, check out <a href="http://www.bkk.hu/en/accessible-public-transport-in-budapest/">Budapest Transport Authority (BKK)'s website</a>.</p>

    <p>If you have further accessibility requirements that we haven't described here, please get in touch: <a href="mailto:2016@djangocon.eu">2016@djangocon.eu</a>.</p>
</section>
<hr>
<section class="container" id="workshops">
    <h1>Workshops & Sprints</h1>
    <p>We'll be having <a href="{% url 'schedule:schedule' %}">3 days of amazing talks</a>, but for DjangoCon, that's only half the fun.</p>

    <p>There will also be 2 days of workshops and sprints right after the conference and we encourage you to come. Sprints are probably the best way to learn how to contribute to Django or your favorite open-source project.</p>

    <p>The workshops and sprints will take place at a really cool place called <a href="http://muszi.org/">MÜSZI</a>.</p>

    <p class="row"><img src="{% static 'img/muszi.png' %}" alt="MÜSZI" class="fullwidth"></p>

    <p>MÜSZI is located at <a href="https://www.google.com/maps/place/M%C3%9CSZI+%5BM%C5%B1vel%C5%91d%C3%A9si+Szint%5D/@47.4959289,19.0673351,17z/data=!3m1!4b1!4m2!3m1!1s0x4741dc5d8aa8bee5:0xfaec931070ada430">the edge between Budapest 7th and 8th districts</a>. It's a pleasant 20-minute walk away from the venue and even closer by public transport.</p>

    <p>You can get there by Metro 2 or Tram 4/6 (Blaha Lujza tér) or even by Metro 4 (Rákóczi tér).</p>

    <h2>Accessibility</h2>

    <p>The venue is on the top floor of a 3-story building. There is a wheelchair compatible elevator but it can be operated by staff only. The bathrooms have a small step (~10cm high) at the entrance and are not wheelchair accessible.</p>

    <p>Please contact us if you have questions or specific accessibility needs that we could help with: <a href="mailto:2016@djangocon.eu">2016@djangocon.eu</a>.</p>
</section>
<hr>
<section class="container" id="party">
    <h1>Party</h1>
    <p>Thanks to our official Party Sponsor <a href="https://www.nephila.it/en/">Nephila</a>, we've booked an amazing place just for ourselves on Thursday.</p>

    <p class="row"><img src="{% static 'img/extra.jpg' %}" alt="EXTRA" class="fullwidth"></p>

    <p>EXTRA is one of Budapest's famous ruin pubs, located in the middle of the 7th district (aka the "party district"): <a href="https://www.google.com/maps/place/Extra/@47.5024752,19.0611238,15z/data=!4m5!1m2!2m1!1sEXTRA!3m1!1s0x0000000000000000:0xa6784122f1e2d071">Klauzál utca 15</a>.</p>

    <p>The closest public transport stop is Blaha Lujza tér (metro 2 and tram 4 or 6) with a 5-minute walk.</p>

    <h2>Accessibility</h2>

    <p>There is a step-free access from the street to the ground floor of the venue but no elevator to get to the first floor.</p>

    <p>Let us know if you have more questions or specific accessibility needs that we could help with: <a href="mailto:2016@djangocon.eu">2016@djangocon.eu</a>.</p>
</section>
{% endblock %}
